html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}


#navbar {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 290px;
    width: 300px;
    height: 100%;
    background-color: red;
}

header {
    text-align: center;
    margin: 10px;
    color: black;
    font-size: 1.8rem;
    font-weight: thin;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
}

#main-doc header {
    text-align: left;
    margin: 0px;
}

section article {
    color: #4d4e53;
    margin: 18px;
    font-size: 1em;
}

section ul li {
    margin: 15px 0 0 20px
}

section ul li span {
    font-weight: bold;
}
  
  